.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    width: 250px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #888;
}

.card a {
    text-decoration: none;
    color: black;
}


.flexContainer {
    display: flex;
    flex-wrap: wrap;
}
.link {
    text-decoration: none;
    color: black;
}
.image {
    width: 100%;
    border-radius: 10px;
}
.title {
    margin: 10px 0;
}
.price {
    font-weight: bold;
}
.category {
    color: #888;
}
