/* ItemListCard.css */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye las tarjetas uniformemente */
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(33.33% - 20px); /* Asegura que haya 3 tarjetas por fila */
    margin-bottom: 20px; /* Espacio entre filas de tarjetas */
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h3 {
    margin: 5px 0;
  }
  
  .card p {
    margin: 5px 0;
  }
  